* {
    font-family: "Times New Roman",sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #F2EBBC;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 28px;
}

p {
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-size: 24px;
}

.list_croche {
    list-style-image: url("images/icons/croche_reduced.png");
    margin-left: 30; margin-right: 0; padding: 0; margin-bottom: 10px
    text-align: start;
    font-size: 22px;
}

ul li {
    text-align: start;
    margin-bottom: 10px;
}

.retour_index {
    font-weight: bold;
    text-align: center;
    
}