* {
    font-family: "Times New Roman",sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    background-color: #F2EBBC;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 28px;
    text-align: center;
}

p {
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-size: 24px;
}

.retour_index {
    font-weight: bold;
    text-align: center;
}